extends layout

block content
            .show
                img(class="preview", src='/img/8/IMG_3465.jpg', style='width:100%')
                img(class="esc", src='/img/main/esc.png', style='width:5%')
            .main(title= locat)
                .title
                    h1(class="trans" key='ebecfinalo')
                    p(class="trans" key='ebecfinalo_t')
                .row
                    .column
                        img(src='/img/EBECFinalO/1.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/11.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/3.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/4.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/18.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/21.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalO/5.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/6.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/13.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/8.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/19.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/22.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalO/9.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/10.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/2.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/12.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/20.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/23.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalO/7.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/14.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/15.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/16.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/17.jpg', style='width:100%')
                        img(src='/img/EBECFinalO/24.jpg', style='width:100%')
                .title
                    h1(class="trans" key='ebecfinal')
                    p(class="trans" key='ebecfinal_t')
                .row
                    .column
                        img(src='/img/EBECFinal/1.jpg', style='width:100%')
                        img(src='/img/EBECFinal/2.jpg', style='width:100%')
                        img(src='/img/EBECFinal/3.jpg', style='width:100%')
                        img(src='/img/EBECFinal/4.jpg', style='width:100%')
                        img(src='/img/EBECFinal/18.jpg', style='width:100%')
                        img(src='/img/EBECFinal/21.jpg', style='width:100%')
                        img(src='/img/EBECFinal/25.jpg', style='width:100%')
                        img(src='/img/EBECFinal/29.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinal/5.jpg', style='width:100%')
                        img(src='/img/EBECFinal/6.jpg', style='width:100%')
                        img(src='/img/EBECFinal/13.jpg', style='width:100%')
                        img(src='/img/EBECFinal/8.jpg', style='width:100%')
                        img(src='/img/EBECFinal/19.jpg', style='width:100%')
                        img(src='/img/EBECFinal/22.jpg', style='width:100%')
                        img(src='/img/EBECFinal/26.jpg', style='width:100%')
                        img(src='/img/EBECFinal/30.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinal/9.jpg', style='width:100%')
                        img(src='/img/EBECFinal/10.jpg', style='width:100%')
                        img(src='/img/EBECFinal/11.jpg', style='width:100%')
                        img(src='/img/EBECFinal/12.jpg', style='width:100%')
                        img(src='/img/EBECFinal/20.jpg', style='width:100%')
                        img(src='/img/EBECFinal/23.jpg', style='width:100%')
                        img(src='/img/EBECFinal/27.jpg', style='width:100%')
                        img(src='/img/EBECFinal/31.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinal/7.jpg', style='width:100%')
                        img(src='/img/EBECFinal/14.jpg', style='width:100%')
                        img(src='/img/EBECFinal/15.jpg', style='width:100%')
                        img(src='/img/EBECFinal/16.jpg', style='width:100%')
                        img(src='/img/EBECFinal/17.jpg', style='width:100%')
                        img(src='/img/EBECFinal/24.jpg', style='width:100%')
                        img(src='/img/EBECFinal/28.jpg', style='width:100%')
                        img(src='/img/EBECFinal/32.jpg', style='width:100%')
                .title
                    h1(class="trans" key='ebecfinalc')
                    p(class="trans" key='ebecfinalc_t')
                .row
                    .column
                        img(src='/img/EBECFinalC/4.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/18.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/9.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/2.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/3.jpg', style='width:100%')

                        img(src='/img/EBECFinalC/21.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/25.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalC/8.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/19.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/5.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/22.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/13.jpg', style='width:100%')

                        img(src='/img/EBECFinalC/6.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/26.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalC/12.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/20.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/1.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/11.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/10.jpg', style='width:100%')

                        img(src='/img/EBECFinalC/27.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/7.jpg', style='width:100%')
                    .column
                        img(src='/img/EBECFinalC/16.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/17.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/23.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/14.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/15.jpg', style='width:100%')

                        img(src='/img/EBECFinalC/28.jpg', style='width:100%')
                        img(src='/img/EBECFinalC/32.jpg', style='width:100%')
                .title
                    h1(class="trans" key='course_copenhagen')
                    p(class="trans" key='course_copenhagen_t')
                .row
                    .column
                        img(src='/img/course_copenhagen/1.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/2.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/3.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/4.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/11.jpg', style='width:100%')
                    .column
                        img(src='/img/course_copenhagen/5.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/20.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/9.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/8.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/19.jpg', style='width:100%')
                    .column
                        img(src='/img/course_copenhagen/13.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/10.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/18.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/12.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/6.jpg', style='width:100%')
                    .column
                        img(src='/img/course_copenhagen/7.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/14.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/15.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/16.jpg', style='width:100%')
                        img(src='/img/course_copenhagen/17.jpg', style='width:100%')
                .title
                    h1(class="trans" key='bigacad')
                    p(class="trans" key='bigacad_t')
                .row
                    .column
                        img(src='/img/academ/1.jpg', style='width:100%')
                        img(src='/img/academ/2.jpg', style='width:100%')
                        img(src='/img/academ/3.jpg', style='width:100%')
                        img(src='/img/academ/4.jpg', style='width:100%')
                        img(src='/img/academ/18.jpg', style='width:100%')
                    .column
                        img(src='/img/academ/5.jpg', style='width:100%')
                        img(src='/img/academ/6.jpg', style='width:100%')
                        img(src='/img/academ/13.jpg', style='width:100%')
                        img(src='/img/academ/8.jpg', style='width:100%')
                        img(src='/img/academ/19.jpg', style='width:100%')
                    .column
                        img(src='/img/academ/9.jpg', style='width:100%')
                        img(src='/img/academ/10.jpg', style='width:100%')
                        img(src='/img/academ/11.jpg', style='width:100%')
                        img(src='/img/academ/12.jpg', style='width:100%')
                        img(src='/img/academ/20.jpg', style='width:100%')
                    .column
                        img(src='/img/academ/7.jpg', style='width:100%')
                        img(src='/img/academ/14.jpg', style='width:100%')
                        img(src='/img/academ/15.jpg', style='width:100%')
                        img(src='/img/academ/16.jpg', style='width:100%')
                        img(src='/img/academ/17.jpg', style='width:100%')
                .title
                    h1(class="trans" key='bigsoc')
                    p(class="trans" key='bigsoc_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/big/1.jpg', style='width:100%')
                        img(src='/img/big/2.jpg', style='width:100%')
                        img(src='/img/big/15.jpg', style='width:100%')
                        img(src='/img/big/4.jpg', style='width:100%')
                    .column
                        img(src='/img/big/5.jpg', style='width:100%')
                        img(src='/img/big/6.jpg', style='width:100%')
                        img(src='/img/big/3.jpg', style='width:100%')
                        img(src='/img/big/8.jpg', style='width:100%')
                    .column
                        img(src='/img/big/12.jpg', style='width:100%')
                        img(src='/img/big/10.jpg', style='width:100%')
                        img(src='/img/big/9.jpg', style='width:100%')
                        img(src='/img/big/11.jpg', style='width:100%')
                    .column
                        img(src='/img/big/7.jpg', style='width:100%')
                        img(src='/img/big/14.jpg', style='width:100%')
                        img(src='/img/big/13.jpg', style='width:100%')
                        img(src='/img/big/16.jpg', style='width:100%')

                .title
                    h1(class="trans" key='int20h') INT20H
                    p(class="trans" key='int20h_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Int20h/1.jpg', style='width:100%')
                        img(src='/img/Int20h/2.jpg', style='width:100%')
                        img(src='/img/Int20h/3.jpg', style='width:100%')
                    .column
                        img(src='/img/Int20h/4.jpg', style='width:100%')
                        img(src='/img/Int20h/5.jpg', style='width:100%')
                        img(src='/img/Int20h/6.jpg', style='width:100%')
                    .column
                        img(src='/img/Int20h/7.jpg', style='width:100%')
                        img(src='/img/Int20h/8.jpg', style='width:100%')
                        img(src='/img/Int20h/9.jpg', style='width:100%')
                    .column
                        img(src='/img/Int20h/10.jpg', style='width:100%')
                        img(src='/img/Int20h/11.jpg', style='width:100%')
                        img(src='/img/Int20h/12.jpg', style='width:100%')
                .title#alb7
                    h1(class="trans" key='ebec') Інженерні змагання
                    p(class="trans" key='ebec_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/15/IMG_5975.jpg', style='width:100%')
                        img(src='/img/15/IMG_6439.jpg', style='width:100%')
                    .column
                        img(src='/img/15/IMG_6055.jpg', style='width:100%')
                        img(src='/img/15/IMG_6115.jpg', style='width:100%')
                    .column
                        img(src='/img/15/IMG_6124.jpg', style='width:100%')
                        img(src='/img/15/IMG_6241.jpg', style='width:100%')
                    .column
                        img(src='/img/15/IMG_6342.jpg', style='width:100%')
                        img(src='/img/15/IMG_6496.jpg', style='width:100%')
                .title#alb11
                    h1(class="trans" key='sport')
                    p(class="trans" key='sport_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/5/1.jpg', style='width:100%')
                        img(src='/img/5/IMG_5652.jpg', style='width:100%')
                    .column
                        img(src='/img/5/IMG_5817.jpg', style='width:100%')
                        img(src='/img/5/3.jpg', style='width:100%')
                    .column
                        img(src='/img/5/IMG_5991.jpg', style='width:100%')

                        img(src='/img/5/2.jpg', style='width:100%')
                    .column
                        img(src='/img/5/IMG_5717.jpg', style='width:100%')
                        img(src='/img/5/IMG_6419.jpg', style='width:100%')
                
                .title#alb5
                    h1(class="trans" key='mw')
                    p(class="trans" key='mw_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/11/IMG_8375.jpg', style='width:100%')
                        img(src='/img/11/IMG_8962.jpg', style='width:100%')
                    .column
                        img(src='/img/11/IMG_8984.jpg', style='width:100%')
                        img(src='/img/11/IMG_8433.jpg', style='width:100%')
                    .column
                        img(src='/img/11/IMG_8678.jpg', style='width:100%')
                        img(src='/img/11/IMG_9196.jpg', style='width:100%')
                    .column
                        img(src='/img/11/IMG_8845.jpg', style='width:100%')
                        img(src='/img/11/IMG_8696.jpg', style='width:100%')
