extends layout

block content
        .content
            .side
                h2(class="trans" key='about')
                img(src='/img/main/IMG_1718.jpg', style='width:80%' )
                p(class="trans" key='about_t')
                img(src='/img/q.jpg', style='width:80%' )
                br
                img(src='/img/q1.jpg', style='width:80%' )
            .main
                .row
                    .column#test
                        img(src='/img/20/IMG_1375.jpg', style='width:100%')

                        img(src='/img/18/IMG_6706.jpg', style='width:100%')
                        img(src='/img/20/IMG_1256.jpg', style='width:100%')
                        img(src='/img/oscar/5.jpg', style='width:100%')
                        img(src='/img/oscar/1.jpg', style='width:100%')
                        img(src='/img/oscar/3.jpg', style='width:100%')

                    .column
                        img(src='/img/18/IMG_6601.jpg', style='width:100%')
                        img(src='/img/18/IMG_6647.jpg', style='width:100%')
                        img(src='/img/20/IMG_1312.jpg', style='width:100%')
                        img(src='/img/oscar/4.jpg', style='width:100%')
                        img(src='/img/oscar/2.jpg', style='width:100%')
                        img(src='/img/oscar/6.jpg', style='width:100%')

                    .column
                        img(src='/img/20/IMG_1237.jpg', style='width:100%')
                        img(src='/img/20/IMG_2356.jpg', style='width:100%')
                        img(src='/img/20/IMG_2369.jpg', style='width:100%')
                        img(src='/img/main_set/5.jpg', style='width:100%')
                        img(src='/img/main_set/2.jpg', style='width:100%')
                        img(src='/img/main_set/3.jpg', style='width:100%')


                    .column
                        img(src='/img/20/IMG_1325.jpg', style='width:100%')
                        img(src='/img/20/IMG_2271.jpg', style='width:100%')

                        img(src='/img/20/IMG_1264.jpg', style='width:100%')
                        img(src='/img/main_set/4.jpg', style='width:100%')
                        img(src='/img/main_set/1.jpg', style='width:100%')
                        img(src='/img/main_set/6.jpg', style='width:100%')
