extends layout

block content
            .show
                img(class="preview", src='/img/8/IMG_3465.jpg', style='width:100%')
                img(class="esc", src='/img/main/esc.png', style='width:5%')
            .main(title= locat)
                .title
                    //h1(class="trans" key='tivoli') Tivoli
                    //p(class="trans" key='tivoli_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/ebecpeople/1.jpg', style='width:100%')
                        img(src='/img/ebecpeople/2.jpg', style='width:100%')
                        img(src='/img/ebecpeople/3.jpg', style='width:100%')
                        img(src='/img/ebecpeople/6.jpg', style='width:100%')
                        img(src='/img/ebecpeople/18.jpg', style='width:100%')
                    .column
                        img(src='/img/ebecpeople/5.jpg', style='width:100%')
                        img(src='/img/ebecpeople/4.jpg', style='width:100%')
                        img(src='/img/ebecpeople/13.jpg', style='width:100%')
                        img(src='/img/ebecpeople/8.jpg', style='width:100%')
                        img(src='/img/ebecpeople/19.jpg', style='width:100%')
                    .column
                        img(src='/img/ebecpeople/9.jpg', style='width:100%')
                        img(src='/img/ebecpeople/10.jpg', style='width:100%')
                        img(src='/img/ebecpeople/16.jpg', style='width:100%')
                        img(src='/img/ebecpeople/12.jpg', style='width:100%')
                        img(src='/img/ebecpeople/20.jpg', style='width:100%')
                    .column
                        img(src='/img/ebecpeople/7.jpg', style='width:100%')
                        img(src='/img/ebecpeople/14.jpg', style='width:100%')
                        img(src='/img/ebecpeople/15.jpg', style='width:100%')
                        img(src='/img/ebecpeople/17.jpg', style='width:100%')
                        img(src='/img/ebecpeople/11.jpg', style='width:100%')
                .title#alb1
                    //h1 Портрентна зйомка
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/8/IMG_3352.jpg', style='width:100%')
                        img(src='/img/8/IMG_3465.jpg', style='width:100%')
                        img(src='/img/8/IMG_3402.jpg', style='width:100%')
                    .column
                        img(src='/img/8/IMG_3153.jpg', style='width:100%')
                        img(src='/img/8/IMG_3418.jpg', style='width:100%')
                        img(src='/img/8/IMG_3481.jpg', style='width:100%')
                    .column
                        img(src='/img/1/IMG_1372.jpg', style='width:100%')
                        img(src='/img/1/IMG_1392.jpg', style='width:100%')
                        img(src='/img/1/IMG_1410.jpg', style='width:100%')
                    .column
                        img(src='/img/1/IMG_1353.jpg', style='width:100%')
                        img(src='/img/1/IMG_1412.jpg', style='width:100%')
                        img(src='/img/1/IMG_1455.jpg', style='width:100%')

                .title#alb3
                    //h1 Responsive Image Grid
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/6/IMG_1452.jpg', style='width:100%')
                        img(src='/img/6/IMG_1458.jpg', style='width:100%')
                        img(src='/img/6/IMG_1524.jpg', style='width:100%')
                    .column
                        img(src='/img/6/IMG_1619.jpg', style='width:100%')
                        img(src='/img/6/IMG_1598.jpg', style='width:100%')
                        img(src='/img/6/IMG_1482.jpg', style='width:100%')
                    .column
                        img(src='/img/9/IMG_4674.jpg', style='width:100%')
                        img(src='/img/9/IMG_4825.jpg', style='width:100%')
                        img(src='/img/9/IMG_4480.jpg', style='width:100%')
                    .column
                        img(src='/img/9/IMG_4470.jpg', style='width:100%')
                        img(src='/img/9/IMG_5065.jpg', style='width:100%')
                        img(src='/img/9/IMG_4954.jpg', style='width:100%')
                .title#alb4
                    //h1 Responsive Image Grid
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/10/IMG_7003.jpg', style='width:100%')
                        img(src='/img/10/IMG_7028.jpg', style='width:100%')
                        img(src='/img/10/IMG_7092.jpg', style='width:100%')
                    .column
                        img(src='/img/10/IMG_7119.jpg', style='width:100%')
                        img(src='/img/10/IMG_7331.jpg', style='width:100%')
                        img(src='/img/10/IMG_7224.jpg', style='width:100%')
                    .column
                        img(src='/img/12/IMG_9340.jpg', style='width:100%')
                        img(src='/img/12/IMG_9546.jpg', style='width:100%')
                        img(src='/img/12/IMG_9357.jpg', style='width:100%')
                    .column
                        img(src='/img/12/IMG_9634.jpg', style='width:100%')
                        img(src='/img/12/IMG_9586.jpg', style='width:100%')
                        img(src='/img/12/IMG_9537.jpg', style='width:100%')
                .title
                    //h1 Портрентна зйомка
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/dasha/1.jpg', style='width:100%')
                        img(src='/img/dasha/16.jpg', style='width:100%')
                        img(src='/img/dasha/15.jpg', style='width:100%')
                        img(src='/img/dasha/4.jpg', style='width:100%')
                    .column
                        img(src='/img/dasha/5.jpg', style='width:100%')
                        img(src='/img/dasha/6.jpg', style='width:100%')
                        img(src='/img/dasha/3.jpg', style='width:100%')
                        img(src='/img/dasha/8.jpg', style='width:100%')
                    .column
                        img(src='/img/dasha/12.jpg', style='width:100%')
                        img(src='/img/dasha/10.jpg', style='width:100%')
                        img(src='/img/dasha/9.jpg', style='width:100%')
                        img(src='/img/dasha/11.jpg', style='width:100%')
                    .column
                        img(src='/img/dasha/7.jpg', style='width:100%')
                        img(src='/img/dasha/14.jpg', style='width:100%')
                        img(src='/img/dasha/13.jpg', style='width:100%')
                        img(src='/img/dasha/2.jpg', style='width:100%')
                .title#alb6
                    //h1 Командний дух
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/14/IMG_0746.jpg', style='width:100%')
                        img(src='/img/14/IMG_1301.jpg', style='width:100%')
                    .column
                        img(src='/img/14/IMG_1270.jpg', style='width:100%')
                        img(src='/img/14/IMG_1074.jpg', style='width:100%')
                    .column
                        img(src='/img/14/IMG_0875.jpg', style='width:100%')
                        img(src='/img/14/IMG_1322.jpg', style='width:100%')
                    .column
                        img(src='/img/14/IMG_0756.jpg', style='width:100%')
                        img(src='/img/14/IMG_1331.jpg', style='width:100%')
                .title(id='alb2')
                    //h1 Responsive Image Grid
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/2/IMG_9645.jpg', style='width:100%')
                        img(src='/img/2/IMG_9600.jpg', style='width:100%')
                        img(src='/img/2/IMG_9595-1.jpg', style='width:100%')
                    .column
                        img(src='/img/2/IMG_9804.jpg', style='width:100%')
                        img(src='/img/2/IMG_9844.jpg', style='width:100%')
                        img(src='/img/2/IMG_9869.jpg', style='width:100%')

                    .column
                        img(src='/img/7/IMG_2018.jpg', style='width:100%')
                        img(src='/img/7/IMG_1836.jpg', style='width:100%')
                        img(src='/img/7/IMG_1784.jpg', style='width:100%')
                    .column
                        img(src='/img/7/IMG_1676.jpg', style='width:100%')
                        img(src='/img/7/IMG_2069.jpg', style='width:100%')
                        img(src='/img/7/IMG_2061.jpg', style='width:100%')
                .title#alb8
                    //h1 Портрети
                    //p Resize the browser window to see the responsive effect.
                // Photo Grid
                .row
                    .column
                        img(src='/img/17/IMG_1037.jpg', style='width:100%')
                        img(src='/img/17/IMG_3788.jpg', style='width:100%')
                        img(src='/img/17/IMG_1123.jpg', style='width:100%')
                    .column
                        img(src='/img/17/IMG_1041-2.jpg', style='width:100%')
                        img(src='/img/17/IMG_3823.jpg', style='width:100%')
                        img(src='/img/17/IMG_3668.jpg', style='width:100%')
                    .column
                        img(src='/img/17/IMG_1049.jpg', style='width:100%')
                        img(src='/img/17/IMG_3756.jpg', style='width:100%')
                        img(src='/img/17/IMG_1226.jpg', style='width:100%')
                    .column
                        img(src='/img/17/IMG_1070.jpg', style='width:100%')
                        img(src='/img/17/IMG_3831.jpg', style='width:100%')
                        img(src='/img/17/IMG_3682.jpg', style='width:100%')



                