extends layout

block content
            .show
                img(class="preview", src='/img/8/IMG_3465.jpg', style='width:100%')
                img(class="esc", src='/img/main/esc.png', style='width:5%')
            .main(title= locat)
                .title
                    h1(class="trans" key='venezia')
                    p(class="trans" key='venezia_t')
                .row
                    .column
                        img(src='/img/Venezia/1.jpg', style='width:100%')
                        img(src='/img/Venezia/2.jpg', style='width:100%')
                        img(src='/img/Venezia/3.jpg', style='width:100%')
                        img(src='/img/Venezia/4.jpg', style='width:100%')
                        img(src='/img/Venezia/15.jpg', style='width:100%')
                        img(src='/img/Venezia/21.jpg', style='width:100%')
                        img(src='/img/Venezia/25.jpg', style='width:100%')
                    .column
                        img(src='/img/Venezia/5.jpg', style='width:100%')
                        img(src='/img/Venezia/6.jpg', style='width:100%')
                        img(src='/img/Venezia/13.jpg', style='width:100%')
                        img(src='/img/Venezia/8.jpg', style='width:100%')
                        img(src='/img/Venezia/19.jpg', style='width:100%')
                        img(src='/img/Venezia/22.jpg', style='width:100%')
                        img(src='/img/Venezia/26.jpg', style='width:100%')
                    .column
                        img(src='/img/Venezia/9.jpg', style='width:100%')
                        img(src='/img/Venezia/10.jpg', style='width:100%')
                        img(src='/img/Venezia/11.jpg', style='width:100%')
                        img(src='/img/Venezia/12.jpg', style='width:100%')
                        img(src='/img/Venezia/20.jpg', style='width:100%')
                        img(src='/img/Venezia/23.jpg', style='width:100%')
                        img(src='/img/Venezia/27.jpg', style='width:100%')
                    .column
                        img(src='/img/Venezia/7.jpg', style='width:100%')
                        img(src='/img/Venezia/14.jpg', style='width:100%')
                        img(src='/img/Venezia/18.jpg', style='width:100%')
                        img(src='/img/Venezia/16.jpg', style='width:100%')
                        img(src='/img/Venezia/17.jpg', style='width:100%')
                        img(src='/img/Venezia/24.jpg', style='width:100%')
                        img(src='/img/Venezia/28.jpg', style='width:100%')
                .title
                    h1(class="trans" key='turin')
                    p(class="trans" key='turin_t')
                .row
                    .column
                        img(src='/img/Turin/1.jpg', style='width:100%')
                        img(src='/img/Turin/2.jpg', style='width:100%')
                        img(src='/img/Turin/3.jpg', style='width:100%')
                        img(src='/img/Turin/4.jpg', style='width:100%')
                        img(src='/img/Turin/29.jpg', style='width:100%')
                        img(src='/img/Turin/21.jpg', style='width:100%')
                        img(src='/img/Turin/37.jpg', style='width:100%')
                        img(src='/img/Turin/18.jpg', style='width:100%')
                    .column
                        img(src='/img/Turin/5.jpg', style='width:100%')
                        img(src='/img/Turin/6.jpg', style='width:100%')
                        img(src='/img/Turin/13.jpg', style='width:100%')
                        img(src='/img/Turin/24.jpg', style='width:100%')
                        img(src='/img/Turin/19.jpg', style='width:100%')
                        img(src='/img/Turin/22.jpg', style='width:100%')
                        img(src='/img/Turin/26.jpg', style='width:100%')
                        img(src='/img/Turin/30.jpg', style='width:100%')
                    .column
                        img(src='/img/Turin/9.jpg', style='width:100%')
                        img(src='/img/Turin/38.jpg', style='width:100%')
                        img(src='/img/Turin/11.jpg', style='width:100%')
                        img(src='/img/Turin/12.jpg', style='width:100%')
                        img(src='/img/Turin/20.jpg', style='width:100%')
                        img(src='/img/Turin/23.jpg', style='width:100%')
                        img(src='/img/Turin/27.jpg', style='width:100%')
                        img(src='/img/Turin/31.jpg', style='width:100%')
                    .column
                        img(src='/img/Turin/7.jpg', style='width:100%')
                        img(src='/img/Turin/39.jpg', style='width:100%')
                        img(src='/img/Turin/15.jpg', style='width:100%')
                        img(src='/img/Turin/16.jpg', style='width:100%')
                        img(src='/img/Turin/33.jpg', style='width:100%')
                        img(src='/img/Turin/8.jpg', style='width:100%')
                        img(src='/img/Turin/28.jpg', style='width:100%')
                        img(src='/img/Turin/32.jpg', style='width:100%')
                .title
                    h1(class="trans" key='milano')
                    p(class="trans" key='milano_t')
                .row
                    .column
                        img(src='/img/Milano/1.jpg', style='width:100%')
                        img(src='/img/Milano/2.jpg', style='width:100%')
                        img(src='/img/Milano/3.jpg', style='width:100%')
                        img(src='/img/Milano/4.jpg', style='width:100%')
                        img(src='/img/Milano/18.jpg', style='width:100%')
                        img(src='/img/Milano/21.jpg', style='width:100%')
                        img(src='/img/Milano/25.jpg', style='width:100%')
                        img(src='/img/Milano/29.jpg', style='width:100%')
                    .column
                        img(src='/img/Milano/5.jpg', style='width:100%')
                        img(src='/img/Milano/6.jpg', style='width:100%')
                        img(src='/img/Milano/13.jpg', style='width:100%')
                        img(src='/img/Milano/8.jpg', style='width:100%')
                        img(src='/img/Milano/19.jpg', style='width:100%')
                        img(src='/img/Milano/22.jpg', style='width:100%')
                        img(src='/img/Milano/26.jpg', style='width:100%')
                        img(src='/img/Milano/30.jpg', style='width:100%')
                    .column
                        img(src='/img/Milano/9.jpg', style='width:100%')
                        img(src='/img/Milano/10.jpg', style='width:100%')
                        img(src='/img/Milano/11.jpg', style='width:100%')
                        img(src='/img/Milano/12.jpg', style='width:100%')
                        img(src='/img/Milano/20.jpg', style='width:100%')
                        img(src='/img/Milano/23.jpg', style='width:100%')
                        img(src='/img/Milano/27.jpg', style='width:100%')
                        img(src='/img/Milano/31.jpg', style='width:100%')
                    .column
                        img(src='/img/Milano/7.jpg', style='width:100%')
                        img(src='/img/Milano/14.jpg', style='width:100%')
                        img(src='/img/Milano/15.jpg', style='width:100%')
                        img(src='/img/Milano/16.jpg', style='width:100%')
                        img(src='/img/Milano/17.jpg', style='width:100%')
                        img(src='/img/Milano/24.jpg', style='width:100%')
                        img(src='/img/Milano/28.jpg', style='width:100%')
                        img(src='/img/Milano/32.jpg', style='width:100%')
                .title
                    h1(class="trans" key='frederiksborg') Frederiksborg Catle
                    p(class="trans" key='frederiksborg_t')
                .row
                    .column
                        img(src='/img/Frederiksborg/1.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/2.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/3.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/4.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/18.jpg', style='width:100%')
                    .column
                        img(src='/img/Frederiksborg/5.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/6.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/13.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/8.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/19.jpg', style='width:100%')
                    .column
                        img(src='/img/Frederiksborg/9.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/10.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/11.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/12.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/20.jpg', style='width:100%')
                    .column
                        img(src='/img/Frederiksborg/7.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/14.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/15.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/16.jpg', style='width:100%')
                        img(src='/img/Frederiksborg/17.jpg', style='width:100%')
               

                .title
                    h1(class="trans" key='malme')
                    p(class="trans" key='malme_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Malmo/1.jpg', style='width:100%')
                        img(src='/img/Malmo/2.jpg', style='width:100%')
                        img(src='/img/Malmo/13.jpg', style='width:100%')
                        img(src='/img/Malmo/4.jpg', style='width:100%')
                    .column
                        img(src='/img/Malmo/5.jpg', style='width:100%')
                        img(src='/img/Malmo/6.jpg', style='width:100%')
                        img(src='/img/Malmo/3.jpg', style='width:100%')
                        img(src='/img/Malmo/8.jpg', style='width:100%')
                    .column
                        img(src='/img/Malmo/11.jpg', style='width:100%')
                        img(src='/img/Malmo/10.jpg', style='width:100%')
                        img(src='/img/Malmo/9.jpg', style='width:100%')
                        img(src='/img/Malmo/12.jpg', style='width:100%')
                    .column
                        img(src='/img/Malmo/7.jpg', style='width:100%')
                        img(src='/img/Malmo/14.jpg', style='width:100%')
                        img(src='/img/Malmo/15.jpg', style='width:100%')
                        img(src='/img/Malmo/16.jpg', style='width:100%')
                .title
                    h1(class="trans" key='copenhagen')
                    p(class="trans" key='copenhagen_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Copenhagen/1.jpg', style='width:100%')
                        img(src='/img/Copenhagen/2.jpg', style='width:100%')
                        img(src='/img/Copenhagen/3.jpg', style='width:100%')
                        img(src='/img/Copenhagen/4.jpg', style='width:100%')
                    .column
                        img(src='/img/Copenhagen/5.jpg', style='width:100%')
                        img(src='/img/Copenhagen/6.jpg', style='width:100%')
                        img(src='/img/Copenhagen/13.jpg', style='width:100%')
                        img(src='/img/Copenhagen/8.jpg', style='width:100%')
                    .column
                        img(src='/img/Copenhagen/9.jpg', style='width:100%')
                        img(src='/img/Copenhagen/10.jpg', style='width:100%')
                        img(src='/img/Copenhagen/11.jpg', style='width:100%')
                        img(src='/img/Copenhagen/12.jpg', style='width:100%')
                    .column
                        img(src='/img/Copenhagen/7.jpg', style='width:100%')
                        img(src='/img/Copenhagen/14.jpg', style='width:100%')
                        img(src='/img/Copenhagen/15.jpg', style='width:100%')
                        img(src='/img/Copenhagen/17.jpg', style='width:100%')
                .title
                    h1(class="trans" key='lund') Lund
                    p(class="trans" key='lund_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Lund/1.jpg', style='width:100%')
                        img(src='/img/Lund/2.jpg', style='width:100%')
                        img(src='/img/Lund/3.jpg', style='width:100%')
                        img(src='/img/Lund/12.jpg', style='width:100%')
                    .column
                        img(src='/img/Lund/5.jpg', style='width:100%')
                        img(src='/img/Lund/6.jpg', style='width:100%')
                        img(src='/img/Lund/13.jpg', style='width:100%')
                        img(src='/img/Lund/8.jpg', style='width:100%')
                    .column
                        img(src='/img/Lund/9.jpg', style='width:100%')
                        img(src='/img/Lund/10.jpg', style='width:100%')
                        img(src='/img/Lund/11.jpg', style='width:100%')
                        img(src='/img/Lund/4.jpg', style='width:100%')
                    .column
                        img(src='/img/Lund/7.jpg', style='width:100%')
                        img(src='/img/Lund/14.jpg', style='width:100%')
                        img(src='/img/Lund/15.jpg', style='width:100%')
                        img(src='/img/Lund/16.jpg', style='width:100%')
                .title
                    h1(class="trans" key='tivoli') Tivoli
                    p(class="trans" key='tivoli_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Tivoli/1.jpg', style='width:100%')
                        img(src='/img/Tivoli/2.jpg', style='width:100%')
                        img(src='/img/Tivoli/3.jpg', style='width:100%')
                        img(src='/img/Tivoli/4.jpg', style='width:100%')
                        img(src='/img/Tivoli/18.jpg', style='width:100%')
                    .column
                        img(src='/img/Tivoli/5.jpg', style='width:100%')
                        img(src='/img/Tivoli/6.jpg', style='width:100%')
                        img(src='/img/Tivoli/13.jpg', style='width:100%')
                        img(src='/img/Tivoli/8.jpg', style='width:100%')
                        img(src='/img/Tivoli/19.jpg', style='width:100%')
                    .column
                        img(src='/img/Tivoli/9.jpg', style='width:100%')
                        img(src='/img/Tivoli/10.jpg', style='width:100%')
                        img(src='/img/Tivoli/11.jpg', style='width:100%')
                        img(src='/img/Tivoli/12.jpg', style='width:100%')
                        img(src='/img/Tivoli/20.jpg', style='width:100%')
                    .column
                        img(src='/img/Tivoli/7.jpg', style='width:100%')
                        img(src='/img/Tivoli/14.jpg', style='width:100%')
                        img(src='/img/Tivoli/15.jpg', style='width:100%')
                        img(src='/img/Tivoli/16.jpg', style='width:100%')
                        img(src='/img/Tivoli/17.jpg', style='width:100%')
                
                .title
                    h1(class="trans" key='krakow')
                    p(class="trans" key='krakow_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/Krakow/1.jpg', style='width:100%')
                        img(src='/img/Krakow/2.jpg', style='width:100%')
                    .column
                        img(src='/img/Krakow/3.jpg', style='width:100%')
                        img(src='/img/Krakow/4.jpg', style='width:100%')
                    .column
                        img(src='/img/Krakow/5.jpg', style='width:100%')
                        img(src='/img/Krakow/6.jpg', style='width:100%')
                    .column
                        img(src='/img/Krakow/7.jpg', style='width:100%')
                        img(src='/img/Krakow/8.jpg', style='width:100%')
 
                
                .title#alb10
                    h1(class="trans" key='carpathian')
                    p(class="trans" key='carpathian_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/4/IMG_5072.jpg', style='width:100%')
                        img(src='/img/4/IMG_5112.jpg', style='width:100%')
                    .column
                        img(src='/img/4/IMG_2094-2.jpg', style='width:100%')
                        img(src='/img/4/IMG_4.jpg', style='width:100%')
                    .column
                        img(src='/img/4/IMG_5125.jpg', style='width:100%')
                        img(src='/img/4/IMG_5099.jpg', style='width:100%')
                    .column
                        img(src='/img/4/IMG_5196.jpg', style='width:100%')
                        img(src='/img/4/IMG_4936.jpg', style='width:100%')

                .title#alb9
                    h1(class="trans" key='kyiv')
                    p(class="trans" key='kyiv_t')
                // Photo Grid
                .row
                    .column
                        img(src='/img/3/IMG_58.jpg', style='width:100%')
                        img(src='/img/3/IMG_5763.jpg', style='width:100%')
                    .column
                        img(src='/img/3/IMG_6928-2.jpg', style='width:100%')
                        img(src='/img/3/IMG_6934-2.jpg', style='width:100%')
                    .column
                        img(src='/img/3/IMG_5781.jpg', style='width:100%')
                        img(src='/img/3/IMG_5786.jpg', style='width:100%')
                    .column
                        img(src='/img/3/IMG_6957-3.jpg', style='width:100%')
                        img(src='/img/3/IMG_6961-2.jpg', style='width:100%')